<meta charset="utf-8" />
<meta name="viewport" content="width=1024" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>{{site.data.presentation.title}}</title>

<meta name="description" content="{{site.data.presentation.description}}" />
<meta name="author" content="{{site.data.presentation.author.name}}" />

<link href="{{site.baseurl}}/css/impress.css" rel="stylesheet" />

<link rel="shortcut icon" href="{{site.baseurl}}/impress.js/favicon.png" />
<link rel="apple-touch-icon" href="{{site.baseurl}}/impress.js/apple-touch-icon.png" />
