---
# id: the id tag
# classes: additional classes for the slide in an array
# tooltip: title attribute
# Each slide should have the data elements necessary defined in the frontmatter:
# data:
#   x: 0
#   y: 0
#   z: 0
#   scale: 1
#   rotate: 0
---

<div
   {% if page.slug %}id="{{page.slug}}"{% endif %}
   class="step {% if page.classes %}{{page.classes | join: " "}}{% endif %}"
   {% if page.tooltip %}title="{{page.tooltip}}"{% endif %}
   {% if page.data.x %}data-x="{{page.data.x}}"{% else %}data-x="0"{% endif %}
   {% if page.data.y %}data-y="{{page.data.y}}"{% else %}data-y="0"{% endif %}
   {% if page.data.z %}data-z="{{page.data.z}}"{% else %}data-z="0"{% endif %}
   {% if page.data.scale %}data-scale="{{page.data.scale}}"{% else %}data-scale="1"{% endif %}
   {% if page.data.rotate %}data-rotate="{{page.data.rotate}}"{% else %}data-rotate="0"{% endif %}
   >
  {{content}}
</div>
